<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title th:text="#{employee.title}"></title>
</head>
<body>
	<h2 th:text="#{employee.header}"></h2>
	<div>
		<p>Id: <span th:text="${employee.id}"></span></p>
		<p>Name: <span th:text="${employee.name}"></span></p>
		<p>State: <span th:text="${employee.state}"></span></p>
	</div>
	<h2 th:text="#{employee.modify.header}"></h2>
	<div>
		<form action="#" th:action="@{/mod/${employee.id}" th:object="${employee}" method="post">
	    	<<label for="name" th:text="#{employee.name}"/> 
    		<input type="text" th:field="*{name}" />
    		<label for="state" th:text="#{employee.state}"/> 
    		<select th:field="*{state}">
    	  		<option th:each="eachstate:${states}" th:field="*{state}" th:value="${eachstate}"th:selected="${state==eachstate}" th:text="${eachstate}"/>
    		</select>
	        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
	    </form>
	</div>
	<h2> <a  th:href="@{/employees}" th:text="#{employee.employees.link}"></a></h2>
</body>
</html>