<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title th:text="#{emloyees.title}"></title>
</head>
<body>
	<h2 th:text="#{employees.list.header}"></h2>
    <div th:if="${error}">
        <p th:text="#{employees.error.noElements}"></p>
    </div>
	<div>
		<ul>
			<li th:each="employee:${employees}">
 				<span th:text="${employee.name}"></span>
    			<a  th:href="@{'/employee/'+${employee.id}}" th:text="#{employees.details.link}"></a>
 			</li>
		</ul>
	</div>
	<h2 th:text="#{employees.add.header}"></h2>
	<div>
		<form action="#" th:action="@{/employees}"  method="post">
			<label for="name" th:text="#{employee.name}"/> 
    		<input type="text" id="name" name="name" />   
    		<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    	</form>
	</div>
</body>
</html>