<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title th:text="#{emloyees.title}"></title>
</head>
<body>
	<h2 th:text="#{employees.list.header}"></h2>
	<div>
		<form action="#" th:action="@{/employees}" method="get">
			<label for="name">Name:</label>
			<input th:param="@{/employees+${name}}" type="text" id="name" name="name" />
			<input type="submit" value="search">
		</form>
	</div>
	<div th:if="${msgError}">
   		<p th:text="#{${msgError}}"/>
	</div>
    <div th:if="${error}">
        <p th:text="#{employees.error.noElements}"></p>
    </div>
	<div>
		<ul>
			<li th:each="employee:${employees}">
 				<span th:text="${employee.name}"></span>
    			<a th:href="@{'/employees/'+${employee.id}}"> <p>see</p> </a>
 			</li>
		</ul>
	</div>
	<h2 th:text="#{employees.add.header}"></h2>
	<div>
		<form action="#" th:action="@{/employees}"  method="post">
			<label for="name" th:text="#{employees.name.label}"/> 
    		<input type="text" id="name" name="name" />   
    		<p><input type="submit" value="Submit" /></p>
    		<!--  <p th:onsubmit>Employee created successfully</p>-->
    	</form>
	</div>
</body>
</html>